include README.md
include LICENSE
include requirements.txt
recursive-include invictus *.py
recursive-include invictus *.json
recursive-include invictus *.js
recursive-include invictus *.css
recursive-include invictus *.html
recursive-include invictus *.md
recursive-include invictus *.txt
recursive-include invictus *.yml
recursive-include invictus *.yaml
recursive-exclude invictus *.pyc
recursive-exclude invictus __pycache__